*{
    margin: 0;
    padding: 0;
}

.side .text{
    color: rgb(0, 0, 0);
    font-family: 'Balthazar', serif;
    font-size: 70px;
    margin: 0px 15vmax;
    width: 70vmax;
    text-align: center;
}

.side{
    height: 50vmin;
    width: 100%;
    
    display: grid;
    place-items: center;
    
    overflow: hidden;
    position: absolute;
}
#right{
    z-index: 2;
    background-color: rgb(255, 217, 0);
}

#left{
    background-color: rgb(119, 0, 255);
}

#left > .text{
    color: white;
}

.fancy{
    font-family: 'Pacifico', cursive;
}

#left > .text .fancy{
    color: rgb(255, 196, 0);
}

#right > .text .fancy{
    color: rgb(119, 0, 255);
}